{% extends "base.html" %}
{% block content %}
<table data-toggle="table" class="table table-sm table-striped">
    <thead>
        <tr>
            <th data-sortable="true">First</th>
            <th data-sortable="true">Last</th>
            <th data-sortable="true">Age</th>
            <th data-sortable="true">Position</th>
            <th data-sortable="true">Level</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
        <tr>
            <td>{{ player.first_name }}</td>
            <td>{{ player.last_name }}</td>
            <td>{{ player.ratings.age }}</td>
            <td>{{ player.ratings.position }}</td>
            <td>{{ player.ratings.level }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
