{% extends "base.html" %}
{% block content %}
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">DOB</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
        <tr>
            <td>{{ player.first_name }}</td>
            <td>{{ player.last_name }}</td>
            <td>{{ player.date_of_birth }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
