{% extends "base.html" %}
{% block content %}
<table data-toggle="table" class="table table-sm table-striped">
    <thead>
        <tr>
            <th data-sortable="true">First</th>
            <th data-sortable="true">Last</th>
            <th data-sortable="true">Age</th>
            <th data-sortable="true">Position</th>
            <th data-sortable="true">Level</th>
            <th data-sortable="true" data-formatter="ratingsFormatter" >Batting</th>
            <th data-sortable="true" data-formatter="ratingsFormatter" >Batting P</th>
            <th data-sortable="true">Batting P Diff</th>
            <th data-sortable="true" data-formatter="ratingsFormatter" >Pitching</th>
            <th data-sortable="true" data-formatter="ratingsFormatter" >Pitching P</th>
            <th data-sortable="true">Pitching P Diff</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
        <tr>
            <td>{{ player.first_name }}</td>
            <td>{{ player.last_name }}</td>
            <td>{{ player.ratings.age }}</td>
            <td>{{ player.ratings.position }}</td>
            <td>{{ player.ratings.level }}</td>
            <td>{{ player.ratings.batting_median }}</td>
            <td>{{ player.ratings.batting_potential_median }}</td>
            <td>{{ player.ratings.batting_potential_diff }}</td>
            <td>{{ player.ratings.pitching_median }}</td>
            <td>{{ player.ratings.pitching_potential_median }}</td>
            <td>{{ player.ratings.pitching_potential_diff }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function ratingsFormatter(value) {
        let color;
        switch (true) {
            case value == 80:
                color = "#1abceb";
                break;
            case value >= 70:
                color = "#00c4a0";
                break;
            case value >= 60:
                color = "#acce27";
                break;
            case value >= 45:
                color = "#f6c22c";
                break;
            case value >= 35:
                color = "#eb8c25";
                break;
            default:
                color = "#d4091b";
                break;
        }
        return `<span style="font-weight: 900; color: ${color}">${value}</span>`;
    }
</script>
{% endblock %}
